*.cm*
*.annot
*.o
/.depend
/META
/Makefile
/autom4te.cache/
/config.log
/config.status
/configure
/graph.a
/src/dot_lexer.ml
/src/dot_parser.ml
/src/dot_parser.mli
/src/dot_parser.output
/src/gml.ml
/src/version.ml
/www/index.en.html
/www/index.fr.html
/www/version.prehtml
/bin/
/dgraph/dgraph.byte
/dgraph/dgraph.opt
/editor/editor.byte
/editor/editor.opt
/view_graph/viewgraph.byte
/view_graph/viewgraph.opt
/export
*.bs.js
.merlin