

/*position: absolute; top: 0; left: 0; height: 50px; width: 100%;*/
.repl-toolbar { color: white !important; margin-right: 15px; vertical-align: middle}

.tab { float: left; position: relative; margin-left: 10px; }

.tab-full { float: left; width: 100%; color: white; }

.right-border { border-right: grey; border-right-style: solid; border-right-width: thin; }

.examples { font-size: 14px; padding-right: 0px; padding-left: 30px; }

.examples:hover { color: #9D9D9D !important;}

.navbar-button { color: #9D9D9D; background-color: #222222;}

.navbar-button:hover { color: white; }