root = true

[*]
charset = utf-8

[*.{ml,mli,mll,mly}, *.{js,jsx,ts,tsx,vue,json}]
max_line_length = 92
trim_trailing_whitespace = true
insert_final_newline = true
indent_style = space
indent_size = 2

[*.{js,jsx,ts,tsx,vue,json}]
max_line_length = 92
trim_trailing_whitespace = true
insert_final_newline = true
indent_style = space
indent_size = 2

[{Makefile, makefile, GNUmakefile}]
indent_style = tab
indent_size = 4

[Makefile.*]
indent_style = tab
indent_size = 4
