*~
_build
*.obj
*.out
*.compile
*.native
*.byte
*.cmo
*.annot
*.cmi
*.cmx
*.cmt
*.cmti
*.cma
*.a
*.cmxa
*.obj
 *~
*.annot
*.mj
*.bak
*.swp
*.swo
*.flambda
*.jsx
*.lambda
*.rawlambda
*.s
*.o
*.lam
*.0.js
*#
*.log
.#*
*.cmj
*.rawlambda
*.lambda
*.zip
*.mlast
*.mliast
# special file

.idea
.DS_Store

node_modules
*.dump
coverage
*.exe

.ninja_log
.bsdeps
.bsbuild
lib/ocaml
tests/build_tests/*/lib/
#ignore temporary directory
*.goog.js
*.jsoo.js
*.so
tmp/
tracing*.json
.nyc_output
.vscode/launch.json
.vscode/settings.json

# opam local switch is stored in `_opam` folder
_opam

.env
playground/packages/
playground/stdlib/
playground/*.cmj
playground/*.cmi
playground/.netrc
playground/compiler.js

rewatch/target/
rewatch/rewatch
