*~
*.compile
*.native
*.byte
*.cmo
*.annot
*.cmi
*.cmx
jslambda

exports.js
*.lambda
*.rawlambda
node_modules
*.o
*.lam
err.log
.idea
ocaml_pack
*.0.js
*~
stdlib/c.js
*.map
*.zip
*.gz
*#
qcc/
.#*
# jscomp/stdlib/external/*.js
oxml
*.cmj
ocamlscript
*.rawlambda
*.lambda
ocaml/*.js
ocaml/*/*/*.js
ocaml/*.js

jscomp/stdlib/.depend
jscomp/test_cases/.depend
test.sh
test.json
ocaml/bin
ocaml/lib
ocaml/man
*~
*.annot
*.mj
jscomp/bench/*.js
*.bak
.vscode
ocaml/
jscomp/_build/*