*~
_build
*.exe
*.obj
*.out
*.compile
*.native
*.byte
*.cmo
*.annot
*.cmi
*.cmx
*.cmt
*.cmti
*.cma
*.a
*.cmxa
*.obj
 *~
*.annot
*.mj
*.bak
*.swp
*.swo

*.jsx
*.lambda
*.rawlambda
*.s
*.o
*.lam
*.0.js
*#
*.log
.#*
*.cmj
*.rawlambda
*.lambda
*.zip
*.patch
*.mlast
*.mliast
# special file

.idea
.DS_Store

node_modules
oxml
test.json
jscomp/pre_load.js
boot
*.dump
coverage
*.g.js
ppx_tools/
vendor/ocaml/stdlib/target_camlheader
vendor/ocaml/stdlib/target_camlheaderd
reason/
man/
lib/ocaml
bin/*

*.exe
odoc_gen/*.cmxs

# for npm publish
./lib/*.exe
!bin/bsppx
!bin/bspack
!/bin/bsb
!/bin/bsc

!/bin/ninja.exe
# This is intentional
# so that `npm install && npm intall -g .`
# the second install would use the cached ninja.exe (instead of being ignored)
#
!bin/bsrefmt


#ninja
.ninja_log
.ninja_deps
.bsdeps
.bs_dir_cache

.bsbuild
lib/prebuilt.ninja
lib/release.ninja
lib/build.ninja
lib/copy.ninja
jscomp/release.ninja
jscomp/build.ninja
jscomp/compiler.ninja
jscomp/runtime/build.ninja
jscomp/others/build.ninja
jscomp/stdlib-402/build.ninja
jscomp/stdlib-406/build.ninja

jscomp/compilerEnv.ninja
env.ninja
jscomp/cppoVendor.ninja
jscomp/cppoEnv.ninja
jscomp/bin/bsb
jscomp/bin/bsc
lib/bs
lib/js/jscomp/test
jscomp/build_tests/*/lib/
#ignore temporary directory
*.goog.js
*.jsoo.js
*.so
bin/ninja.exe
tmp/
jscomp/ext/hash_set.ml
jscomp/ext/hash_set_poly.ml
jscomp/ext/hashtbl_make.ml
jscomp/ext/ident_hash_set.ml
jscomp/ext/ident_hashtbl.ml
jscomp/ext/ident_map.ml
jscomp/ext/ident_set.ml
jscomp/ext/int_hash_set.ml
jscomp/ext/int_hashtbl.ml
jscomp/ext/int_map.ml
jscomp/ext/int_vec.ml
jscomp/ext/ordered_hash_map_local_ident.ml
jscomp/ext/ordered_hash_set_make.ml
jscomp/ext/resize_array.ml
jscomp/ext/set_int.ml
jscomp/ext/string_hash_set.ml
jscomp/ext/string_hashtbl.ml
jscomp/ext/string_map.ml
jscomp/ext/string_set.ml
jscomp/syntax/reactjs_jsx_ppx_v2.ml
jscomp/syntax/reactjs_jsx_ppx_v3.ml
jscomp/outcome_printer/tweaked_reason_oprint.ml
jscomp/outcome_printer/reason_syntax_util.ml
jscomp/outcome_printer/reason_syntax_util.mli
jscomp/bin/all_ounit_tests.ml
native/
vendor/ocaml

_esy
