*.o
*.a
*.so
*.obj
*.lib
*.dll
*.cm[ioxatj]
*.cmx[as]
*.cmti
*.annot
docs/*
docs/docson/*
!docs/docson/build-schema.json
site/
.vscode/
.github/
odoc_gen
coverage
jscomp/*
!jscomp/stdlib
!jscomp/runtime
!jscomp/others
!jscomp/stubs
!jscomp/Makefile.shared