*.o
*.a
*.so
*.obj
*.lib
*.dll
*.cm[oxaj]
*.cmx[as]
*.annot
*.ninja_deps
*.ninja_log
*~
docs/*
docs/docson/*
!docs/docson/build-schema.json
site/
.vscode/
.github/
odoc_gen
coverage
jscomp/**/*
!jscomp/stubs/ext_basic_hash_stubs.c
ocaml/
lib/4.06.1/unstable
lib/4.06.1/*.cm*
.circleci/
native/
vendor/cppo
vendor/rollup.js
package/
*.tgz
