*.o
*.a
*.so
*.obj
*.lib
*.dll
*.cm[ioxatj]
*.cmx[as]
*.cmti
*.annot
docs/*
docs/docson/*
!docs/docson/build-schema.json
site/
.vscode/
.github/
odoc_gen
coverage
jscomp/*
!jscomp/release.ninja
# !jscomp/Makefile
!jscomp/stdlib-402
!jscomp/stdlib-406
!jscomp/runtime
!jscomp/others
!jscomp/stubs
!jscomp/Makefile.shared
ocaml/
lib/4.02.3/unstable
lib/4.06.1/unstable