jscomp/*
!jscomp/build_tests
jscomp/build_tests/*/**
!jscomp/build_tests/*/input.js
!jscomp/build_tests/*/*.json
lib/
ninja/
rewatch/target/
_build/
_opam
CHANGELOG.md
README.md
playground/
.github/ISSUE_TEMPLATE/*.md