name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Use OCaml
      uses: avsm/setup-ocaml@v1
      with:
        ocaml-version: 4.06

    - name: Use Node.js
      uses: actions/setup-node@v1
      with:
        node-version: 14.x

    - run: npm install

    - run: make test
