lsl/slides.aux
lsl/slides.dvi
lsl/slides.log
oups-july-2014.aux
oups-july-2014.log
oups-july-2014.nav
oups-july-2014.out
oups-july-2014.pdf
oups-july-2014.snm
oups-july-2014.toc
oups-july-2014.vrb
tfp07/slides.aux
tfp07/slides.log
tfp07/slides.nav
tfp07/slides.out
tfp07/slides.pdf
tfp07/slides.snm
tfp07/slides.toc
tfp07/slides.vrb
